/* Reset some default styles */
body, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

header img {
    height: 40px; /* Adjust the height based on your logo size */
    margin-right: 10px;
}

header h1 {
    display: inline-block;
    font-size: 1.5em;
}

.content {
    max-width: 800px;
    margin: 20px auto;
}

h2 {
    color: #333;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
    transition: background-color 0.3s, box-shadow 0.3s;
    cursor: pointer;
}

li:hover {
    background-color: #f0f0f0;
}

.selected {
    background-color: #3498db;
    color: #fff;
    box-shadow: 0 0 10px rgba(52, 152, 219, 0.8);
}

a {
    color: #3498db;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
