/* css/cycle_ride.css */
@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

*{
    font-family: 'Tilt Neon', sans-serif;
  }
  

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background: #1b1b33;
}

.navbar {
    display: flex;
    background-color: #29294d;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
}
  
.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}
  
.navbar .logo img{
    width: 80px;
}

.main-content{
    flex-wrap: wrap;
    width: 80vw;
    margin: 0px auto;
    align-items: center;
    justify-content: center;
}

.flex-item {
    /* display: flex; */
    flex: 1 0 50%;
    padding: 5px;
    box-sizing: border-box;
    text-align: center;
    height: 25vh;
    backdrop-filter: blur(16px) saturate(200%);
    -webkit-backdrop-filter: blur(16px) saturate(200%);
    background-color: rgb(216, 213, 213);
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    margin: 10px;
    box-shadow: 0px 0px 40px 2px rgb(244 240 240 / 17%);
    transition: transform 0.5s ease-in-out;
    justify-content: space-around;
}

.flex-head{
    height: 10vh;
    margin-top: 20px;
}


.review{
    display: flex;
    align-items: center;
    justify-content: left;
    margin-left: 50px;
  }
  
  .review img{
    width: 190px;
  }

.flex-col{
    display: flex;
    justify-content: space-evenly;
    /* padding-right: 500px; */
    align-items: center;
    margin-top: 0px;
    padding-top: 0px;

}

.text_{
    font-size: 30px;
    font-weight: 600;
  }

.container {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    width: 80%;
}

.info-box {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

/* Updated styles for displaying user info and cycle info side by side */
.info-box {
    display: inline-block;
    width: 45%; /* Adjust the width as needed */
    margin-right: 20px;
}

.start-ride-button {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Enlarged button styles */
input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 15px 30px; /* Enlarged padding */
    font-size: 16px; /* Enlarged font size */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

a {
    color: orange;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
